<div class="contenedor">

    <div class="navbar" [ngStyle]="{'background-image': 'url(' + imgFondo + ')'}">
        <div class="hero">
            <nav class="navbar">
                <ul>
                    <li><a routerLink ="/home" routerLinkActive="activeButton">HOME</a></li>
                    <li><a routerLink ="/shop" routerLinkActive="activeButton">TIENDA</a></li>
                    <li><a routerLink ="/shop" routerLinkActive="activeButton">APRENDE A JUGAR</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
