<div class="contenedor">

    <ul>
        <li><a href="#">NUEVO Y EXCLUSIVO</a></li>
        <li><a href="#">WARHAMMER 40,000</a></li>
        <li><a href="#">AGE OF SIGMAR</a></li>
        <li><a href="#">THE HORUS HERESY</a></li>
        <li><a href="#">THE OLD WORLD</a></li>
        <li><a href="#">MIDDLE-EARTH™</a></li>
        <li><a href="#">MÁS</a></li>
    </ul>
    <div class="navbar" [ngStyle]="{'background-image': 'url(' + imgFondo + ')'}">
        <h1>Bienvenido a la barra de navegación</h1>
    </div>

</div>
