
<div class="container my-5">
    <div class="row g-0 bg-dark text-white rounded-4 shadow-lg overflow-hidden" style="height: 500px ; width: 1400px; ">


        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center text-center p-4">
        <img src="\img\warhammer.png" alt="Warhammer 40,000" class="mb-3" style="width: 250px;" />
        <h2 class="text-warning">{{cards[0].title}}</h2>
        <p>
        {{cards[0].description}}
        </p>
        <button [routerLink]="cards[0].buttonLink" class="btn btn-warning text-dark fw-bold rounded-pill px-2 py-1 mt-3 " style="font-size: 0.rem; width: 190px;">
            {{ cards[0].buttonText }}
        </button>
    </div>

    <div class="col-md-8" [ngStyle]="{'background-image': 'url(' + cards[0].imgUrl + ')', 'background-size': 'cover', 'background-position': 'center'}">
    </div>
    </div>
</div>

