.card {
  display: flex;
  border-radius: 16px;
  flex-direction: row;
  overflow: hidden;
  height: 500px;
  width: 85%;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-top: 190px;
  margin-bottom: 200px;
  
}

.card-info {
  flex: 1;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card-info h2 {
  font-size: 2rem;
  color: #FFD700; 
  margin: 0;
}

.card-info button {
  background-color: #FFD700;
  color: #000;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
}

.card-info button:hover {
  background-color: #e0c200;
}

.logo {
  width: 150px;
  margin-bottom: 1rem;
}

.card-image {
  flex: 3;
  background-size: cover;
  background-position: center;
}
