<!-- <head>
		
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.min.css">


    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <link rel="stylesheet" href="/css/theme-blog.css">
    <link rel="stylesheet" href="/css/theme-shop.css">


    <link rel="stylesheet" href="/css/demos/demo-law-firm-2.css">
    
    <link rel="stylesheet" href="/css/custom.css">
    


    <script src="/vendor/modernizr/modernizr.min.js"></script>
    
    
    
</head> -->

<body>

    <app-top-bar></app-top-bar>
    <div class="body">
  
        <div role="main" class="main">

            <section class="page-header page-header-modern page-header-lg overlay overlay-show overlay-op-9 m-0" style="background-image: url(img/contacto.webp); background-size: cover; background-position: center;">
                <div class="container py-4">
                    <div class="row">
                        <div class="col text-center">
                            
                            <h1 class="text-color-light font-weight-bold text-12">Contacto</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container py-5 my-3">
                <div class="row">
                    <div class="col">

                        <h2 class="mb-0 font-weight-bold">Envíanos cualquier duda o sugerencia a través de nuestros distintos canales de comunicación</h2>
                        <div class="divider divider-primary divider-small mt-2 mb-4">
                            <hr class="my-0 me-auto">
                        </div>

                        <div class="row py-2">
                            <div class="col-md-4">
                                <p class="mb-0"><strong class="text-dark text-4">Dirección</strong></p>
                                <p class="mb-0">torrent</p>
                                <p class="mb-0">calle maria auxiliadora 32º</p>
                                <p class="mb-0">puerta 1º</p>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0"><strong class="text-dark text-4">Horario:</strong></p>
                                <p class="mb-0">Lunes - Jueves 8:00 - 19:00</p>
                                <p class="mb-0">Viernes 8:00 - 15:00</p>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0"><strong class="text-dark text-4">Teléfonos</strong></p>
                                <p class="mb-0"><a href="tel=1111111">722327156</a></p>
                                <p class="mb-0"><a href="tel=222222"></a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            

            <section class="section border-0 my-0 lazyloaded" style="background-position: 50% 100%;">
                <div class="container">
                    <div class="row justify-content-md-end py-3">
                        <div class="col-md-12">
                            <div class="appear-animation animated blurIn appear-animation-visible" data-appear-animation="blurIn" data-appear-animation-delay="0" style="animation-delay: 0ms;">
                                <h2 class="mb-0 font-weight-bold">Pon tu duda</h2>
                                
                            </div>
                            <div class="appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                                <p class="font-weight-medium text-4">Asi podremos a clarartelas</p>
                            </div>
                            <div class="appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                                <form class=" form-style-2" action="/mandar-formulario-contacto" method="POST">
                                    <input type="hidden" name="_token" value="edcclYgS4ypdANwYwj5XOLGovGZCOcakjbQY6BML" autocomplete="off">										<div id="my_name_CFvT8NtBYe3yK4dj_wrap" style="display: none" aria-hidden="true">
    <input id="my_name_CFvT8NtBYe3yK4dj" name="my_name_CFvT8NtBYe3yK4dj" type="text" value="" autocomplete="nope" tabindex="-1">
    <input name="valid_from" type="text" value="eyJpdiI6InlESXdiSzF2YlBGVzhUR2dVUXVDdkE9PSIsInZhbHVlIjoici9ka1JRdzlxaFRnczBlRjdJRTdPQT09IiwibWFjIjoiOWJiYWU1ZTE1ZGMwOGQ1NzJmZTBhMDQ5NmYzYTIxMDA0ODQ4ZGJhMzAyY2UyMTQyM2Y5ZDBkMjk5NGQ4ZWNmYSIsInRhZyI6IiJ9" autocomplete="off" tabindex="-1">
</div>
                                    <div class="row pb-2 mb-1">
                                        <div class="form-group col-lg-6">
                                            <input type="text" value="" placeholder="Nombre" data-msg-required="Por favor introduce tu nombre." maxlength="100" class="form-control text-3 h-auto py-2" name="name" required="">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input type="email" value="" placeholder="Email" data-msg-required="Por favor introduce tu email." data-msg-email="Por favor introduce un email válido." maxlength="100" class="form-control text-3 h-auto py-2" name="email" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col mb-3">
                                            <input type="text" value="" data-msg-required="Por favor introduce un teléfono de contacto." maxlength="100" class="form-control border-radius-0" name="phone" id="phone" required="" placeholder="Teléfono *">
                                        </div>
                                    </div>
                                    <div class="row pb-2 mb-1">
                                        <div class="form-group col">
                                            <textarea maxlength="5000" placeholder="Mensaje" data-msg-required="Por favor introduce tu mensaje." rows="8" class="form-control text-3 h-auto py-2" name="message" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">
                                            
                                              <br>
                                            <input type="submit" value="ENVIAR CONSULTA" class="btn btn-primary btn-modern text-uppercase font-weight-bold text-2 py-3 btn-px-4" data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        
    </div>

</body>

