<div class="top-bar bg-black p-2 d-flex justify-content-between align-items-center">
    <div class="top-bar-links d-flex gap-3">
        <button class="lang-btn bg-transparent border-0">
        <img src="\img\home.png" alt="Home" class="w-6 h-4" routerLink="/home" style="width: 20px;"/>
        </button>
        <a class="text-decoration-none hover-gold" routerLink ="/join">¿Nuevo en Warhammer?</a>
        <a class="text-decoration-none hover-gold" routerLink ="/join">Explora nuestros productos TOP</a>
        <a class="text-decoration-none hover-gold" routerLink ="/join">Warhammer Community</a>
    </div>

    <div class="top-bar-right d-flex align-items-center gap-3">
        <a class="text-decoration-none hover-gold" routerLink ="/join">Contacta con nosotros</a>
        <a class="text-decoration-none hover-gold" routerLink ="/join">Iniciar sesion</a>
        <a class="text-decoration-none hover-gold" routerLink ="/join">Registrarse</a>
        <button class="lang-btn bg-transparent border-0">
            <img src="assets/icons/flag-es.svg" alt="Español" class="w-6 h-4" />
        </button>
    </div>
</div>


